/*
Theme Name:  BeAgency
Layout: Style sheet for WordPress Visual Editor
*/

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);

html {
	font-size: 62.5%;
}

body#tinymce {
	color: #111111;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.8rem;
	line-height: 2.8rem;
}

blockquote {
	border-left: 1px solid #ddd;
	color: #777;
	margin-bottom: 2.8rem;
	padding-left: 1.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Roboto Slab',sans-serif;
	font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit;
}

h1,
h2 {
	font-size: 3.2rem;
	line-height: 4.4rem;
	margin-bottom: .8rem;
}

h3 {
	font-size: 2.2rem;
	line-height: 3.2rem;
	margin-bottom: 1.6rem;
}

h4 {
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-bottom: 1.4rem;
}

h5 {
	font-size: 1.6rem;
	line-height: 2.8rem;
	margin-bottom: 1.4rem;
}

h6 {
	font-size: 1.4rem;
	line-height: 2.4rem;
	margin-bottom: 1.2rem;
}

p {
	margin: 0 0 2.8rem 0;
}

small {
	font-size: 80%;
}

ol,
ul {
	margin-bottom: 2.8rem;
	margin-left: 2.8rem;
}

li {
	margin-bottom: 1.4rem;
}
