/*
Theme Name: BeAgency
Layout: Responsive
*/

@media (max-width: 1199px) {
	.promotion h3 {
		font-size: 20px;
	}

	.promotion > span {
		font-size: 15px;
	}
}

@media (min-width: 992px) {
	#masthead {
		height: 240px;
	}

	#masthead  > .container {
		height: 160px;
	}

	#masthead .site-title {
		margin: 30px 0;
		padding: 30px 0;
		display: inline-block;
	}

	#masthead #header-wrap {
		height: 80px;
		width: 1140px;
	}

	.main-navigation > div {
		display: block;
		height: 78px;
		width: 1140px;
		text-align: center;
	}

	.main-navigation > div > ul {
		display: inline-block;
		float: none;
		width: auto;
		text-align: left;
	}

	.main-navigation > div > ul > li {
		margin: 0 10px;
	}

	.main-navigation > div > ul > li > a {
		height: 78px;
		font-size: 13px;
		line-height: 78px;
		letter-spacing: 2px;
	}

	.main-navigation ul ul {
		top: 78px;
	}

	.main-navigation ul ul li:hover > a {
		padding-left: 18px;
		background-color: #f9f9f9;
	}

	#masthead.sticky-header #header-wrap {
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 80px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}

	.admin-bar #masthead.sticky-header #header-wrap {
		top: 32px;
	}

	.content-wrap {
		padding: 50px 0;
	}

	#colophon {
		width: 1140px;
	}

	#colophon .container {
		padding: 0;
		width: 100%;
	}

}

@media (max-width: 1199px) and (min-width: 992px) {
	#masthead #header-wrap,
	.main-navigation > div {
		width: 940px;
	}

	.portfolio-item {
		width: 226px;
	}

	.portfolio-item .portfolio-image,
	.portfolio-item .portfolio-image img {
		width: 226px;
		height: 170px;
	}

	.post-masonry .post {
		width: 214px;
	}

	.post-content {
		width: 690px;
	}

	.sidebar {
		width: 210px;
	}

	#colophon {
		width: 940px;
	}
}

@media (max-width: 991px) {
	.site-title {
		padding: 15px 0;
		margin: 15px 0;
	}

	#masthead #header-wrap {
		min-height: 60px;
	}

	#main-navigation-trigger {
		opacity: 1;
		pointer-events: auto;
		top: 5px;
		left: 0;
		margin-top: 0;
	}

	.main-navigation > div > ul {
		display: none;
		margin-top: 60px !important;
	}

	.main-navigation ul {
		height: auto !important;
	}

	.main-navigation ul ul {
		position: relative;
		width: auto;
		border: 0;
		box-shadow: none;
		border-top: 1px solid #eee;
		top: 0 !important;
		padding-left: 15px;
	}

	.main-navigation ul ul ul {
		top: 0 !important;
		left: 0;
	}

	.main-navigation ul li {
		float: none;
		margin: 0 !important;
		text-align: left !important;
		border-top: 1px solid #eee;
	}

	.main-navigation ul li:first-child {
		border-top: 0;
	}

	.main-navigation ul > li > a {
		height: 50px !important;
		line-height: 50px !important;
		padding: 0 5px !important;
	}

	.main-navigation ul > li.menu-item-has-children > a,
	.main-navigation ul > li.menu-item-has-children > a:hover {
		background-repeat: no-repeat;
		background-position: right center;
	}

	.main-navigation ul.mobile-menu li a.submenu-trigger {
		position: absolute;
		top: 0;
		right: 0;
		width: 32px;
		text-align: center;
	}

	.portfolio-item {
		width: 232px;
	}

	.portfolio-item .portfolio-image,
	.portfolio-item .portfolio-image img {
		width: 232px;
		height: 175px;
	}

	.promotion {
		padding: 30px 20px;
	}

	.promotion a.button {
		position: relative;
		left: 0;
		margin: 20px 0 0;
	}

	.post-masonry .post {
		width: 226px;
		margin-right: 20px;
	}

	.post-content {
		float: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px ;
		padding-bottom: 40px;
		border-bottom: 1px solid #eee;
	}

	.sidebar {
		width: 100%;
		float: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.portfolio-meta li span {
		width: auto;
	}

	.sidebar-widgets-wrap {
		margin: 0 -38px -30px 0;
	}

	.widget {
		display: inline-block;
		vertical-align: top;
		float: none;
		width: 340px;
		margin: 0 37px 40px 0;
		padding-top: 0;
		border-top: 0;
	}
}

@media (max-width: 783px) {
	.admin-bar #masthead.site-header {
		margin-top: 46px;
	}
}

@media (max-width: 767px) {
	.col-1_2,
	.col-1_3,
	.col-2_5,
	.col-3_5 {
		width: 100%;
		margin-right: 0;
		float: none;
		margin-bottom: 50px !important;
	}

	.heading-block h1 {
		font-size: 30px;
	}

	#portfolio-ajax-title {
		text-align: center;
	}

	#portfolio-navigation {
		position: relative;
		display: inline-block;
		margin: 0 0 -7px;
	}

	.post-masonry {
		margin-right: 0;
	}

	.post-masonry .post {
		width: 100%;
	}

	.wp-caption-text {
		display: none;
	}

	.site-footer .col-1_2 {
		text-align: center;
	}

	.go-to-top {
		display: none;
	}
}

@media (max-width: 767px) and (min-width: 480px) {
	.container {
		width: 470px !important;
	}

	.portfolio-item {
		width: 217px;
		margin: 0 6px 6px 0;
	}

	.portfolio-item .portfolio-image,
	.portfolio-item .portfolio-image img {
		width: 217px;
		height: 162px;
	}

	.error-404 {
		font-size: 160px;
	}
}

@media (max-width: 479px) {
	.button {
		letter-spacing: 1px;
	}

	.container {
		width: 310px !important;
	}

	.portfolio-item {
		width: 280px;
	}

	.portfolio-item .portfolio-image,
	.portfolio-item .portfolio-image img {
		width: 280px;
		height: 211px;
	}

	.portfolio-desc {
		height: 100%;
	}

	.portfolio-meta li span {
		width: auto;
	}

	.error-404 {
		font-size: 120px;
	}
}

@media
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi),
only screen and (min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2) {
	.widget ul li {
		background-image: url("images/widget-link@2x.png");
		background-size: 4px 20px;
	}
}