#sub-accordion-panel-avata_frontpage_sections_panel > li.control-section > .accordion-section-title i {
	float: left;
    margin-top: 4px;
    padding-right: 6px;
}
#customize-control-sidebars_widgets-section-banner-1,
#customize-control-sidebars_widgets-section-video-1,
#customize-control-sidebars_widgets-section-service-1,
#customize-control-sidebars_widgets-section-intro-1,
#customize-control-sidebars_widgets-section-gallery,
#customize-control-sidebars_widgets-section-team,
#customize-control-sidebars_widgets-section-testimonial,
#customize-control-sidebars_widgets-section-slogan,
#customize-control-sidebars_widgets-section-blog,
#customize-control-sidebars_widgets-section-banner-2,
#customize-control-sidebars_widgets-section-progress-bar-1,
#customize-control-sidebars_widgets-section-progress-bar-2{
	display:none !important;
	}
#sub-accordion-section-sidebar-widgets-section-banner-1 .customize-control-widget_form{
	display:none !important;
}
#customize-control-avata-section_order{
	display:none !important;
	}